{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container p-3">
		<div class="row justify-content-center">
			<h1 class="text-center mt-3">Global Data</h1>
			<div class="col-sm-6 col-lg-3 mb-3">
				<div class="card card-1">
					<div class="card-body">
						<h5 class="card-title">New Confirmed</h5>
						<p class="card-text">{{ global_data.NewConfirmed }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 mb-3">
				<div class="card card-2">
					<div class="card-body">
						<h5 class="card-title">Total Confirmed</h5>
						<p class="card-text">{{ global_data.TotalConfirmed }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 mb-3">
				<div class="card card-3">
					<div class="card-body">
						<h5 class="card-title">New Deaths</h5>
						<p class="card-text">{{ global_data.NewDeaths }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 mb-3">
				<div class="card card-4">
					<div class="card-body">
						<h5 class="card-title">Total Deaths</h5>
						<p class="card-text">{{ global_data.TotalDeaths }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 mb-3">
				<div class="card card-5">
					<div class="card-body">
						<h5 class="card-title">New Recovered</h5>
						<p class="card-text">{{ global_data.NewRecovered }}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 mb-3">
				<div class="card card-6">
					<div class="card-body">
						<h5 class="card-title">Total Recovered</h5>
						<p class="card-text">{{ global_data.TotalRecovered }}</p>
					</div>
				</div>
			</div>
			<p class="text-end"><small><em>Last Updated: {{ global_data.Date }}</em></small></p>
		</div>
		<div class="mt-5">
			<h1 class="text-center">Data by country</h1>
			<table class="table table-striped mt-2">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Country</th>
						<th scope="col">Total Confirmed</th>
						<th scope="col">Total Deaths</th>
						<th scope="col">Total Recovered</th>
					</tr>
				</thead>
				<tbody>
					{% for country in countries %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ country.Country }}</td>
							<td>{{ country.TotalConfirmed }}</td>
							<td>{{ country.TotalDeaths }}</td>
							<td>{{ country.TotalRecovered }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock content %}
